body {
    color: green;
}

.redDiv {
    color: red;
}

.forms {
    padding: 5px;
}

input {
    padding: 5px;
    margin: 5px;
}

a:active {
    color: pink;
}

a:visited {
    color: orange;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }